<div class="page-neutral-intro background--gallery">
  <div class="wrapper">
    <div class="col-wrap">
      <div class="col">
        <nav aria-label="Breadcrumbs">
          <div class="breadcrumb print--hide">
            <ol class="breadcrumb__list">
              {{#each breadcrumb}}
                <li class="breadcrumb__item">
                  <a
                    class="breadcrumb__link"
                    href="{{uri}}"
                  >{{description.title}}</a>
                </li>
              {{/each}}

              <li class="breadcrumb__item">
                {{#if label}}
                  {{ label }}
                {{else}}
                  {{description.title}}
                {{/if}}
              </li>
            </ol>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
