{{#if additionalUrl}}<div {{#if_eq full-width "true"}}class=" markdown-full-width-container"{{/if_eq}}><div class="col-wrap">{{/if}}
<div class="js--show{{#if additionalUrl}} col col--md-21{{#if_eq full-width "true"}} col--lg-29{{else}} col--lg-22{{/if_eq}} margin-left-lg--1{{/if}}">

    <div class="pym-interactive{{#if additionalUrl}} col--md-21{{#if_eq full-width "true"}} col--lg-29{{else}} col--lg-22{{/if_eq}}{{else}}{{#if_eq full-width "true"}} markdown-full-width-container{{else}} col--md-42 col--lg-44{{/if_eq}}{{/if}}" id="{{id}}" data-url="{{url}}"></div>

    <details class="details">
        <summary class="details__summary">Embed code</summary>
        <div class="details__body">
            <label class="embed-code__label" for="embed-{{id}}">Embed this interactive<br/></label>
            <input class="embed-code__code {{#if additionalUrl}}width-md--15{{else}}width-md--32{{/if}}"
        value='<iframe width="100%" src="{{#if (containsAny url "http" "https")}}{{url}}{{else}}{{#if is_dev}}http://{{location.host}}{{else}}https://{{location.hostname}}{{/if}}{{url}}{{/if}}"></iframe>'
                   id="embed-{{id}}"
                   name="embed-{{id}}"
                   readonly
            />
            <span class="embed-code__success-container">
                <button id="" data-id="{{id}}" type="button" class="btn btn--primary embed-code__button js-embed-code-copy">Copy</button>
                <span role="status"></span>
            </span>
        </div>
    </details>

</div>
{{#if additionalUrl}}
<div class="js--show col col--md-21 {{#if_eq full-width "true"}}col--lg-29 {{else}}col--lg-22{{/if_eq}}">

    <div class="pym-interactive{{#if_eq full-width "true"}} col--md-21 col--lg-29{{else}} col--md-21{{/if_eq}}" id="{{additionalId}}" data-url="{{additionalUrl}}"></div>

    <details class="details">
        <summary class="details__summary">Embed code</summary>
        <div class="details__body">
            <label class="embed-code__label" for="embed-{{additionalId}}">Embed this interactive<br/></label>
            <input class="embed-code__code width-md--15"
        value='<iframe width="100%" src="{{#if (containsAny additionalUrl "http" "https")}}{{additionalUrl}}{{else}}{{#if is_dev}}http://{{location.host}}{{else}}https://{{location.hostname}}{{/if}}{{additionalUrl}}{{/if}}"></iframe>'
                   id="embed-{{additionalId}}"
                   name="embed-{{additionalId}}"
                   readonly
            />
            <span class="embed-code__success-container">
                <button id="" data-id="{{additionalId}}" type="button" class="btn btn--primary embed-code__button js-embed-code-copy">Copy</button>
                <span role="status"></span>
            </span>
        </div>
    </details>

</div>
</div>
</div>
{{/if}}